<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
  }

  h1 {
    font-size: 2.0em;
    color: white;
  }

  h5 {
    color: darkgray;
  }


  main {
    display: block;
  }

  .banner {
    width:100%;
    text-align: right;
  }

  .banner > h1 {
    float: right;
    margin: 10px;
  }

  .banner > img {
    height: 50px;
    float: right;
    margin: 10px;
  }

  .flex-container {
    display: flex;
    flex: 100%;
  }

  .flex-item-1 {
    flex: 100%;
  }

  .flex-item-2 {
    flex: 300px;
  }

  .primary-user {
    float: left;
    color: lightgray;
  }

  .tab-header-item {
    color:lightgray;
    background-color: black;
    border: 1px solid darkgray;
    float:left;
    padding: 10px;
    cursor: pointer;
  }

  .tab-header-item.selected {
    background-color: rgba(50, 50, 50, 100);
  }

  .tab-header-item.not-selected {
    background-color: transparent;
  }

  .tab-header-item:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(50, 50, 50, 100);
  }

  .tab-content {
    border: 1px solid darkgray;
  }

</style>

<main class="main">

  <sociallinks class="float-left" />

  <div class="banner">
    <h4 class="primary-user">{{primaryUser.name}}</h4>

    <img ngSrc="metroid.png"
         alt="metroid.png"
         width="48"
         height="48" />
    <h1 class="ibm-plex-mono-medium">Super Metroid Esports (In Development)</h1>

    <div class="clear-fix"></div>
  </div>

  <div class="clear-fix"></div>

  <div class="flex-container">
    <div class="tab-control flex-item-1">
        <div class="tab-header">
          <a class="tab-header-item"
               *ngFor="let tab of tabs; index as i;"
               [ngClass]=" { 'selected': selectedTab.index == tab.index, 'not-selected': selectedTab.index != tab.index }"
               (click)="selectedTab = tab;">
            {{tab.name}}
          </a>
          <div class="clear-fix"></div>
        </div>
        <div class="tab-content">
          <div class="tab-item">
            <maintab *ngIf="selectedTab.index == 0" />
            <chattab *ngIf="selectedTab.index == 1" />
            <usertab *ngIf="selectedTab.index == 2" />
          </div>
        </div>
    </div>

    <div class="container flex-item-2">
      <img src="samus-text.png" alt="samus-text.png" />
    </div>
  </div>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



