<style>
  h1 {
    margin: 10px;
    color: #EEEEEE;
    font-size: 2.5em;
  }

  .container {
  }

  .container .header-container:first-child > h1 {
    color: deeppink;
  }

  .bullet-list {
    padding: 20px;
  }

  .bullet-list > h4 {
  }

  .highlight {
    color: deeppink;
  }

  .link {
    cursor: pointer;
    text-decoration: underline;
  }

  .header-container {
    width: 100%;
    background: #CCCCCCCC;
  }

</style>

<div class="container">

  <div class="header-container">
    <h1 class="russo-one-regular">Statement of Purpose</h1>
  </div>


  <div class="bullet-list">
    <h3 class="ibm-plex-mono-medium">To lead the way for the active development, engagement, participation, and
                                     collaboration of the <span class="highlight link" routerLink="/people">people</span> of Super Metroid Esports!</h3>
  </div>

  <div class="header-container">
    <h1 class="russo-one-regular">What are Super Metroid Esports?</h1>
  </div>

  <div class="bullet-list">
    <h3 class="ibm-plex-mono-medium">
      Super Metroid Esports are groups of <span class="highlight link" routerLink="/people">people</span>
      that enjoy playing the Super Metroid game, (and other related games), as part of a fun, interactive, online
      virtual sport; and who often race for <span class="highlight link" routerLink="/people">non-for-profit</span>
      organizations as a way to help others. </h3>
  </div>

  <div class="header-container">
    <h1 class="russo-one-regular">What does it mean to participate?</h1>
  </div>

  <div class="bullet-list">
    <h3 class="ibm-plex-mono-medium">
      The <span class="highlight link" routerLink="/people">people</span> of Super Metroid Esports meet regularly
      to discuss topics that are of importance to the community of participants. There are a great number of things
      to consider if one wants to become a full-time participant. Regular agendas are set by the community
      <span class="highlight link" routerLink="/people">board</span> to help people get exposure, meet other
      participants, get technical assistance; and to help prepare them for a future with the community.
    </h3>
    <h3 class="ibm-plex-mono-medium">
      While enjoying showcasing their talents <span class="highlight link" routerLink="/people">participants</span> also
      are tasked with: business; <span class="highlight link" routerLink="/home">legal</span>; human relations; and
      <span class="highlight link" routerLink="/people">networking</span> outreach to help inform the community of
      important news and information on a regular basis.
    </h3>
  </div>

  <div class="header-container">
    <h1 class="russo-one-regular">How do I get in touch with people?</h1>
  </div>

  <div class="bullet-list">
    <h3 class="ibm-plex-mono-medium">
      You can reach out to anyone in the community who has left their contact
      information <span class="highlight link" routerLink="/people">here</span>.
      You can also come to a regular monthly meeting for new participants. We
      look forward to seeing you very soon!
    </h3>
  </div>

</div>
