<style>
  :host {
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
  }

  h1 {
    font-size: 2.0em;
    color: white;
  }

  h2 {
    font-size: 1.2em;
    color: white;
  }

  h4 {
    font-size: 1.0em;
    color: purple;
  }

  h5 {
    color: darkgray;
  }

  main {
    display: block;
  }

  .green {
    color: lawngreen;
  }

  .container {
    padding: 20px;
  }

  .bullet-list {
  }

  .bullet-list > h4{
    margin-left: 40px;
  }

</style>

  <div class="container">
    <h2 class="ibm-plex-mono-medium">What is this?</h2>

    <div class="bullet-list">
      <h4 class="ibm-plex-mono-medium">This is a development page for a Super Metroid Esports <span class="green">Open-Source</span> backbone</h4>
    </div>

    <h2 class="ibm-plex-mono-medium">How will this help the SM speed running community?</h2>

    <div class="bullet-list">
      <h4 class="ibm-plex-mono-medium">It <span class="green">may</span> help the SM speed running community, when the SM speed running community helps to <span class="green">collaborate! ^_^</span></h4>
    </div>

    <h2 class="ibm-plex-mono-medium">What are some of the design goals?</h2>

    <div class="bullet-list">
      <h4 class="ibm-plex-mono-medium">Centralization of all SM speed running links, resources, schedules, daily news, who's-who, community roles, social media, statistical assets, how-to's, onboarding tutorials, community guidelines, and technical assistance (from the community)</h4>
    </div>

    <h2 class="ibm-plex-mono-medium">Will this be a paid site?</h2>

    <div class="bullet-list">
      <h4 class="ibm-plex-mono-medium">The community must <span class="green">collaborate</span> to show that they have a following that is considered its own esports sub-group. Having together established a sub-grouping, collaboration with paid, and unpaid, supporters would seem appropriate, having followed and discussed <span class="green">legal guidelines</span> pertaining to sponsorship, and the portrayal of <span class="green">copyrighted</span> content.</h4>
    </div>

  </div>
