<style>

  .add-user {

  }
  .add-user .banner{
    color: white;
    padding-top: 15px;
    padding-left: 15px;
  }
  .add-user > .input-form {
    width: 500px;
    padding: 15px;
  }

</style>

<div class="container">

  <div class="add-user">
    <div class="banner">
      <h3>Chat User:   (This is for development purposes only)</h3>
    </div>
    <div class="input-form">
      <input-hint (valueChange)="onUserNameChanged($event)" />
      <basic-button [text]="'Create User'" class="float-right" (click)="addUser()" />
      <basic-button [text]="'Get All Users'" class="float-right" (click)="getUsers()" />

      <div class="clear-fix"></div>
    </div>
  </div>

  <user-list [users]="userList" />
</div>
