<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {

  }

  h1 {
    font-size: 2.5em;
    color: white;
  }

  h5 {
    color: darkgray;
  }

  main {
    display: block;
  }

  .banner {
    width:100%;
    text-align: right;
  }

  .banner > h1 {
    float: right;
    margin: 10px;
  }

  .banner > img {
    height: 50px;
    float: right;
    margin: 10px;
  }

  .content {
    width: 100%;
  }

  .content > .container {
    display: block;
    justify-content: right;
    justify-self: stretch;
  }

  .content > .container > img {
    display: block;
    height:700px;
    margin: 30px;
    justify-self: right;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

  }
</style>

<main class="main">

  <div class="banner">
    <img src="metroid.png" alt="metroid.png" />
    <h1 class="ibm-plex-mono-thin">Super Metroid Esports</h1>

    <div class="clear-fix"></div>

    <h5 class="ibm-plex-mono-light">(Proof of Concept)</h5>
  </div>

  <div class="clear-fix"></div>

  <div class="content">

    <div class="container">
      <img src="samus-text.png" alt="samus-text.png" />
    </div>

  </div>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
