<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
  }

  h1 {
    font-size: 2.0em;
    color: white;
  }

  h5 {
    color: darkgray;
  }


  main {
    display: block;
  }

  .banner {
    width:100%;
    text-align: right;
  }

  .banner > h1 {
    float: right;
    margin: 10px;
  }

  .banner > img {
    height: 50px;
    float: right;
    margin: 10px;
  }

  .tab-header-item {
    color:lightgray;
    background-color: black;
    border: 1px solid darkgray;
    float:left;
    padding: 10px;
    cursor: pointer;
  }

  .tab-header-item.selected {
    background-color: rgba(50, 50, 50, 100);
  }

  .tab-header-item.not-selected {
    background-color: transparent;
  }

  .tab-header-item:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(50, 50, 50, 100);
  }

  .tab-content {
    border: 1px solid darkgray;
  }

</style>

<main class="main">

  <sociallinks class="float-left" />

  <div class="banner">
    <img ngSrc="metroid.png"
         alt="metroid.png"
         width="48"
         height="48" />
    <h1 class="ibm-plex-mono-medium">Super Metroid Esports</h1>

    <div class="clear-fix"></div>

    <h5 class="ibm-plex-mono-light">(Proof of Concept)</h5>
  </div>

  <div class="clear-fix"></div>

  <div class="tab-control">
    <div class="tab-header">
      <div class="tab-header-item"
           [ngClass]=" { 'selected': selectedTab.index == tabs[0].index, 'not-selected': selectedTab.index != tabs[0].index }"
           (click)="selectedTab = tabs[0];">
        {{tabs[0].name}}
      </div>
      <div class="tab-header-item"
           [ngClass]=" { 'selected': selectedTab.index == tabs[1].index, 'not-selected': selectedTab.index != tabs[1].index }"
           (click)="selectedTab = tabs[1];">
        {{tabs[1].name}}
      </div>
      <div class="clear-fix"></div>
    </div>
    <div class="tab-content">
      <div class="tab-item"
           *ngIf="selectedTab.index == 0">
        <maintab  />
      </div>
      <div class="tab-item"
           *ngIf="selectedTab.index == 1">
        <chattab  />
      </div>
    </div>
  </div>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
